<div class="container-fluid">
    <div class="row">
      <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <!-- Name Form -->
        <div style="margin-left: 50%;" class="form-group">
  
          <label class="name"><strong>Quote Author: </strong></label>
          <br>
         <div class="Author"><input  type="text"  class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required ></div> 
           <br>
       <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p> Author is Required</p>
          
          </div>
  
          <!--Testing  to see if we get data-->
          <div class="Dis" >Display {{newQuote.name}}</div>
  
        </div>
  
        <!-- Quote Input -->
        <div style="margin-top:3%;margin-left: 5%;" class="form-group">
  
         <div class="for" ><label for="description">Quote:</label></div>
          <br>
          <div class="form"><textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel" required ></textarea></div>
          <br>
          <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
            <br>
            <p> Quote is Required</p>
          
          </div>
          
          <!--Testing  to see if we get data-->
         <div class="play">Display {{newQuote.description}}</div>
  
        </div>
  
        <!-- Date Input -->
        <div style="margin-left: 5%; margin-top:1%;" class="form-group">
          <label for="complete">Date:</label>
          <br>
          <!-- <div class=""> -->
          <input  style="border: 2px solid rgb(209, 5, 5, 0.4);" type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
          <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
            <p>Date is Required</p>
          
          </div>
  
        </div>
        
        <button style="margin-left: 30%; margin-top: 2%;" type="submit" id="button" > Submit</button>
      </form>
    </div>
  </div>
  
